<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns:tizen="http://tizen.org/ns/widgets" xmlns="http://www.w3.org/ns/widgets" id="http://yourdomain/Pancasila" version="1.0.0" viewmodes="maximized">
    <tizen:application id="J547Yakg6n.Pancasila" package="J547Yakg6n" required_version="2.4"/>
    <author email="ogivano06@gmail.com">Hendriyan Ogivano</author>
    <content src="index.html"/>
    <description>Mengenalkan akan makna pancasila.</description>
    <feature name="http://tizen.org/feature/screen.size.all"/>
    <icon src="icon.png"/>
    <name>Pancasila</name>
    <tizen:profile name="mobile"/>
</widget>
